.table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    border-radius: 8px;
    padding: 16px 20px;
    max-width: 1128px;
    &__date {
        
        &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-left: 32px;
        }
        &-header {
            font-weight: 400;
            font-size: 16px;
            color: #74767A;
        }
        &-body {
            display: flex;
            align-items: center;
        }
        &-footer {
            font-weight: 400;
            font-size: 12px;
            color: #74767A;
        }
        &-time {
            font-weight: 700;
            font-size: 30px;
            color: #000000;
            &--left {
                margin-right: 16px;
            }
            &--right {
                margin-left: 16px;
            }
        }
        &-UTC {
            font-weight: 400;
            font-size: 8px;
            color: #74767A;
        }
    }

    &__time {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 25%;
        margin-left: 30px;
        font-weight: 400;
        font-size: 12px;
        color: #000000;
        &-icon {
            margin: 8px 0;
            fill: red;
            color: #0090BD;
            &--left {
                transform: rotateY(180deg);
            }
        }
        &::before, &::after {
            content: '';
            position: absolute;
            width: 35%;
            height: 1px;
            background-color: #0090BD;
            top: 47%;
        }
        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
        
    }

    &__flightNumber {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        color: #74767A;
        margin-left: 20px;
        &-text {
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            margin-left: 12px;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 45px;
        &-seats {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding: 4px 8px 4px 32px;
            width: 133px;
            height: 40px;
            background: rgba(241, 201, 51, 0.3);
            border-radius: 2px;
            font-weight: 700;
            font-size: 12px;
            color: #454A53;
            &--red  {
                background: rgba(179, 38, 30, 0.3);
            }
            &--yellow {
                background: rgba(241, 201, 51, 0.3);
            }
            &--green {
                background: rgba(30, 179, 50, 0.3);
            }
        }
        &-text {
            margin-top: 6px;
            font-weight: 700;
            font-size: 12px;
            color: #74767A;
        }
        &-cost {
            margin-top: 1px;
            font-weight: 700;
            font-size: 30px;
            color: #11397E;
        }
    }

    &__button {
        width: 78px;
        height: 36px;
        margin-left: 32px;
        padding: 8px 16px;
        background: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%);
        border: 1px solid #11397E;
        border-radius: 4px;
        text-align: center;
        letter-spacing: 0.1px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;

        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        
    }
}