:host {
    margin-bottom: 15px;
}

.person {
    &__body {
        display: flex;
    }
    &__footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    &__input {
        width: 255px;
        &-wrapper {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    &__radio {
        &-wrapper {
            margin-right: 20px;
        }
    }

    &__assistance {
        margin-right: 20px;
    }

    &__lugage {
        margin-right: 20px;
    }
    
}