<div
  class="header container"
  [style.background]="page == 'main' ? 'rgba(116, 118, 122, 0.2)' : 'white'"
>
  <div class="header__content">
    <img class="header__content__logo" src="./assets/logo.svg" alt="logo" />
    <div
      class="header__content__elements"
      [style.gap]="page == 'book' ? '17px' : '40px'"
    >
      <button class="title-button" *ngIf="page === 'main'; else stepperBlock">
        Book flights
      </button>
      <ng-template #stepperBlock>
        <mat-stepper *ngIf="page === 'book'">
          <mat-step label="Flights" matStepperIcon="phone"></mat-step>
          <mat-step label="Passengers"></mat-step>
          <mat-step label="Review & Payment"></mat-step>
        </mat-stepper>
      </ng-template>
      <mat-form-field appearance="fill" class="date">
        <mat-select
          [style.filter]="
            page == 'main'
              ? 'none'
              : 'invert(75%) sepia(1%) saturate(4760%) hue-rotate(211deg) brightness(106%) contrast(96%)'
          "
          panelClass="date-select"
          [value]="datesFormat[0].value"
        >
          <mat-option *ngFor="let date of datesFormat" [value]="date.value">
            {{ date.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="currency">
        <mat-select
          [style.filter]="
            page == 'main'
              ? 'none'
              : 'invert(75%) sepia(1%) saturate(4760%) hue-rotate(211deg) brightness(106%) contrast(96%)'
          "
          panelClass="currency-select"
          [value]="currency[0].value"
        >
          <mat-option *ngFor="let cur of currency" [value]="cur.value">
            {{ cur.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="login-button">
        <img
          [style.filter]="
            page == 'main'
              ? '#000000'
              : 'invert(75%) sepia(1%) saturate(4760%) hue-rotate(211deg) brightness(106%) contrast(96%)'
          "
          src="./assets/header-icons/signin-icon.svg"
          alt="sign-in"
        />
        <span
          [style.color]="page == 'main' ? 'white' : '#49454F'"
          class="login-button__text"
          >Sign in</span
        >
      </button>
      <span
        [matBadge]="badgeCounter"
        matBadgeSize="small"
        [matBadgeHidden]="hidden"
        class="basket"
      >
        <img
          [style.margin-left]="page == 'book' ? '15px' : '-9px'"
          [style.filter]="
            page == 'main'
              ? '#000000'
              : 'invert(75%) sepia(1%) saturate(4760%) hue-rotate(211deg) brightness(106%) contrast(96%)'
          "
          src="./assets/header-icons/shopping_basket.svg"
          alt="basket"
        />
      </span>
    </div>
  </div>
</div>
