.trip-table {
  width: 100%;
  border-collapse: collapse;
  font-weight: 700;
  font-size: 20px;

  &__header {
    height: 67px;
    background: $background-color;
    border: 0.5px solid #e9edf1;
    line-height: 20px;

    .checkbox-col {
      width: calc(0.05 * $container-width);

      .mat-mdc-checkbox.mat-accent {
        margin-left: 3px;
      }

      .mdc-form-field {
        position: relative;
      }

      .mdc-form-field > label {
        position: absolute;
        top: 30px;
        left: 13px;
        padding-left: 0;
        font-size: 12px;
      }
    }

    .passengers-title {
      text-align: left;
    }
  }

  .checkbox-section {
    display: flex;
    align-content: center;
    align-items: center;
  }

  &__row {
    padding: 30px 0;
    border-bottom: 1px solid #e1e5eb;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  .number-row {
    font-weight: 700;
    line-height: 24px;
    color: #0090bd;
  }

  .destination-row {
    width: calc(0.143 * $container-width);
  }

  .passengers-list {
    list-style: none;
  }

  .trip-price {
    color: #7f8906;
  }

  .dots-row {
    text-align: right;
  }

  .dots-button {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:active {
      background-color: #d0d9df;
    }
  }

  .menu-position {
    display: none;
    position: absolute;
    z-index: 2;
    top: 26px;
    left: 28px;
  }

  .unhidden {
    display: block;
  }

  .mat-mdc-checkbox.mat-accent {
    margin-left: 20px;
    --mdc-checkbox-selected-focus-icon-color: #11397e;
    --mdc-checkbox-selected-hover-icon-color: #11397e;
    --mdc-checkbox-selected-icon-color: #11397e;
    --mdc-checkbox-selected-pressed-icon-color: #11397e;
  }
}
