<div class="container">
  <div class="flight-info">
    <h4 class="title">
      <span class="primary">{{ ticket.flightNumber }}</span>
      {{ getAirportsName() }}
    </h4>
    <p class="date">
      {{ ticket.takeoffDate | date : "EEEE, d MMMM, y" : ticket.gmtFrom }}
      <span class="time"
        >{{ ticket.takeoffDate | date : "H:mm" : ticket.gmtFrom }} —
        {{ ticket.landingDate | date : "H:mm" : ticket.gmtFrom }}</span
      >
    </p>
  </div>
  <div *ngFor="let person of ticket.passengers" class="passanger-info">
    <p class="name">{{ person.name | uppercase }}</p>
    <p class="info" *ngIf="person.baggage !== 0">
      {{ person.baggage }} checked bag (total 23 kg) included
    </p>
    <p class="info">1 cabin bag + 1 personal item (max. 8 kg) included</p>
    <p class="info" *ngIf="person.seat">{{ getSeat(person) }}</p>
  </div>
</div>
