<div class="container">
  <div class="flight-info">
    <h4 class="title">
      <span class="primary">FR 1925</span>
      Dublin — Warsaw Modlin
    </h4>
    <p class="date">
      Wednesday, 1 March, 2023
      <span class="time">8:40 — 12:00</span>
    </p>
  </div>
  <div *ngFor="let person of persons" class="passanger-info">
    <p class="name">{{ person.name | uppercase }}</p>
    <p class="info" *ngIf="person.hasBaggage">
      1 checked bag (total 23 kg) included
    </p>
    <p class="info">1 cabin bag + 1 personal item (max. 8 kg) included</p>
    <p class="info" *ngIf="person.seat">{{ getSeat(person) }}</p>
  </div>
</div>
