:host {
    margin-bottom: 100px;
}

.booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 88px auto 0px auto;
    background-color: #F4F6F9;
    padding-bottom: 32px;

    &__spiner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}