<div class="container">
  <div class="background"></div>
  <div class="inner-container">
    <mat-card class="card">
      <form action="" class="form">
        <div>
          <mat-radio-group>
            <mat-radio-button value="round-trip" checked color="primary" (change)="changeTrip($event)"
              >Round Trip</mat-radio-button
            >
            <mat-radio-button value="one-way" color="primary" (change)="changeTrip($event)"
              >One way</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div>
          <mat-form-field class="destination">
            <mat-label>From</mat-label>
            <input
              type="text"
              placeholder="From"
              aria-label="Number"
              matInput
              [formControl]="fromControl"
              [matAutocomplete]="autoFrom"
            />
            <mat-autocomplete autoActiveFirstOption #autoFrom="matAutocomplete">
              <mat-option
                *ngFor="let optionFrom of filteredFrom | async"
                [value]="optionFrom.key"
              >
                {{ optionFrom.city }}
              </mat-option>
            </mat-autocomplete> 
          </mat-form-field>
          <div *ngIf="fromControl.invalid && fromControl.touched" class="danger-text">
            From Input Required
          </div>
        </div>
        <div>
          <mat-form-field class="destination">
            <mat-label>Destination</mat-label>
            <input
              type="text"
              placeholder="Choose your destination"
              aria-label="Number2"
              matInput
              [formControl]="destControl"
              [matAutocomplete]="autoDestination"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoDestination="matAutocomplete"
            >
              <mat-option
                *ngFor="let destination of filteredDest | async"
                [value]="destination.key"
              >
                {{ destination.city }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="destControl.invalid && destControl.touched" class="danger-text">
            Destination Input Required
          </div>
        </div>
        <div class="inline">
          <div class="dates">
            <mat-form-field appearance="fill" *ngIf="this.return; else soloDatePicker" >
              <mat-label>Dates</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [formControl]="startDateControl"/>
                <input matEndDate placeholder="End date" [formControl]="endDateControl" />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-date-range-picker>
            </mat-form-field>
            <div *ngIf="return && startDateControl.invalid && endDateControl.invalid && (endDateControl.touched || startDateControl.touched)" class="danger-text">
              Dates Input Required
            </div>
          </div>
          <ng-template #soloDatePicker>
            <mat-form-field class="dates">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="datepicker" [formControl]="startDateControl">
              <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
            <div *ngIf="startDateControl.invalid && startDateControl.touched" class="danger-text">
              Date Input Required
            </div>
          </ng-template>
          <app-passenger-list (validStatus)="passengerValid($event)"></app-passenger-list>
        </div>
        <div  class="search">
          <button mat-button color="primary" (click)="searchItems()">Search</button>
        </div>
        <button mat-icon-button class="switch" (click)="changeInputFields()">
          <mat-icon svgIcon="switch"></mat-icon>
        </button>
      </form>
    </mat-card>
  </div>
</div>
