<table class="trip-table" matSort (matSortChange)="sortData($event)">
  <thead class="trip-table__header">
    <tr>
      <th class="checkbox-col"></th>
      <th mat-sort-header="number">No.</th>
      <th mat-sort-header="flight">Flight</th>
      <th mat-sort-header="type">Type trip</th>
      <th mat-sort-header="data">Data & Time</th>
      <th class="passengers-title">Passengers</th>
      <th mat-sort-header="price">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of sortedTrips">
      <td class="trip-table__row">
        <section class="checkbox-section">
          <mat-checkbox></mat-checkbox>
        </section>
      </td>
      <td class="trip-table__row number-row">{{ trip.number }}</td>
      <td
        class="trip-table__row destination-row"
        *ngIf="trip.type === 'Round Trip'; else secondBlock"
      >
        {{ trip.from }} - {{ trip.destination }} - {{ trip.from }}
      </td>
      <ng-template #secondBlock>
        <td class="trip-table__row destination-row">
          {{ trip.from }} - {{ trip.destination }}
        </td>
      </ng-template>
      <td class="trip-table__row">{{ trip.type }}</td>
      <td
        class="trip-table__row"
        *ngIf="trip.type === 'Round Trip'; else anotherBlock"
      >
        {{ trip.dateFrom }} - {{ trip.dateTo.slice(-5) }}<br />{{
          trip.dateFromBack
        }}
        -
        {{ trip.dateToBack?.slice(-5) }}
      </td>
      <ng-template #anotherBlock>
        <td class="trip-table__row">
          {{ trip.dateFrom }} - {{ trip.dateTo.slice(-5) }}
        </td>
      </ng-template>
      <td class="trip-table__row">
        <ul class="passengers-list">
          <li *ngIf="trip.adults !== 0">{{ trip.adults }} x Adult</li>
          <li *ngIf="trip.childs !== 0">{{ trip.childs }} x Child</li>
          <li *ngIf="trip.infants !== 0">{{ trip.infants }} x Infant</li>
        </ul>
      </td>
      <td class="trip-table__row trip-price">{{ trip.price }}</td>
      <td class="trip-table__row dots-row">
        <button class="dots-button" (click)="toggle($event)">
          <img src="./assets/dots.svg" alt="dots" />
          <app-edit-menu class="menu-position"></app-edit-menu>
        </button>
      </td>
    </tr>
  </tbody>
</table>
