<div class="passenger">
    <app-flight-search></app-flight-search>
    <div class="passenger__content">
        <div class="passenger__passengers">
            <div class="passenger__top">
                <div class="passenger__header">
                    <mat-icon>person</mat-icon>
                    Passengers
                </div>
                <div class="passenger__text">Enter the passenger's names as they appear on document (passport or ID). </div>
            </div>
            <div class="passenger__body">
                <app-person></app-person>
            </div>
        </div>
        <div class="passenger__contacts">
            <div class="passenger__top">
                <div class="passenger__header">
                    <mat-icon>contact_page</mat-icon>
                    Contact details
                </div>
                <div class="passenger__text">We need contact details to be able to deliver the latest information regarding your flight. </div>
            </div>
        </div>
    </div>
</div>